* @brandtkeller @meganwolf0

# Privileged pipeline files
/.github/ @brandtkeller @meganwolf0
/.gitignore @brandtkeller @meganwolf0
/.goreleaser.yml @brandtkeller @meganwolf0

# Additional privileged files
/CODEOWNERS @jeff-mccoy @daveworth
/LICENSE @jeff-mccoy @austenbryan
