name: PR Title Check

on:
  pull_request:
    branches: [main]
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    types: [milestoned, opened, reopened, synchronize, edit]

permissions:
  contents: read
  pull-requests: read

jobs:
  title_check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: commitlint

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0


      - name: Install commitlint
        run: npm ci --only=dev

      - name: Lint PR title
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: echo "$PR_TITLE" | npx commitlint 
