name: Unit Tests
on:
  push:
    branches:
      - "main"
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Run Tests
        run: |
          make test
