name: Unit Tests
on:
  push:
    branches:
      - "main"
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Run Tests
        run: |
          make test
