name: Unit Tests
on:
  push:
    branches:
      - "main"
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Run Tests
        run: |
          make test
